<div style="padding: 5px 15px;">
  <h2>Earlier rents</h2>
  <button mat-stroked-button color="primary" (click)="togglePreviousRents()"> Show previous rents </button>
  <div *ngIf="showPreviousRents" >
    <mat-spinner *ngIf="rents.length === 0"></mat-spinner>
    <div *ngFor="let rent of rents">
      <mat-card *ngIf="rent.status != 'Open' && rent.status != 'Cancelled'" style="margin:5px ;">
        <div>
          <mat-card-content>
            <td><h4 style="padding: 5px 10px; margin: 5px 15px;">Rent</h4></td>
            <td><h4 style="padding: 5px 10px; margin: 5px 15px;">nr: {{rent.rentId}}</h4></td>
            <td><h4 style="padding: 5px 10px; margin: 5px 15px;">Order created: {{rent.created | date:'MM/dd/yyyy'}}</h4></td>
            <td><h4 style="padding: 5px 10px; margin: 5px 15px;">Status: {{rent.status}}</h4></td>
            <td><button mat-stroked-button color="primary" *ngIf="rent.status === 'Confirmed'" (click)="generateInvoice(rent)">generate Invoice</button></td>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>

  <div *ngIf="pendingRents.length != 0">
    <h3>Pending rent</h3>
    <mat-card *ngFor="let rent of pendingRents" style="margin:5px ;">
      <div>
        <div>
          <mat-card-subtitle>
            <td><h4 style="padding: 5px 10px; margin: 5px 15px;">Rent</h4></td>
            <td><h4 style="padding: 5px 10px; margin: 5px 15px;">nr: {{rent.rentId}}</h4></td>
            <td><h4 style="padding: 5px 10px; margin: 5px 15px;">Order created: {{rent.created | date:'MM/dd/yyyy'}}</h4></td>
            <td><h4 style="padding: 5px 10px; margin: 5px 15px;">Status: {{rent.status}}</h4></td>
          </mat-card-subtitle>
        </div>
        <div>
          <mat-card-content *ngFor="let rentItem of rent.rentItems" style="margin:5px ;">
            <td><h4 style="padding: 5px 15px; margin: 5px 15px;">{{rentItem.equipment.name}}</h4></td>
            <td><h4 style="padding: 5px 15px; margin: 5px 15px;">{{rentItem.equipment.equipmentType.type}}</h4></td>
            <td><p style="padding: 5px 15px; margin: 5px 15px;">From: {{ rentItem.startTime  | date:'MM/dd/yyyy'}}</p></td>
            <td><p style="padding: 5px 15px; margin: 5px 15px;">To: {{ rentItem.endTime  | date:'MM/dd/yyyy'}}</p></td>
            <td><p style="padding: 5px 15px; margin: 5px 15px;">Duration: {{calculateRentDuration(rentItem)}} days</p></td>
            <td><button button mat-stroked-button color="warn" (click)="deleteItem(rentItem)"> Remove Item </button></td>
          </mat-card-content>
        </div>
        <div *ngIf="rent.rentItems != 0">
          <mat-card-actions>
            <button mat-flat-button color="success" style="margin: 10px" (click)="confirmRent(rent)"> Confirm rent </button>
            <button mat-flat-button color="warn" style="margin: 10px" (click)="cancelRent(rent)"> Cancel rent </button>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>
  </div>

  <div *ngIf="invoice != null" id="pdfTable" #pdfTable>
    <table>
      <tr>
        <th><h3>Invoice {{invoice.invoiceNumber}} </h3></th>
      </tr>
      <tr>
        <td colspan="6" style="text-align:right;"><h4 style="padding: 5px 15px; margin: 5px 15px;">Invoice nr {{invoice.invoiceNumber}}</h4></td>
      </tr>
      <tr>
        <td colspan="6" style="text-align:right;"><h4 style="padding: 5px 15px; margin: 5px 15px;">Reference nr: {{invoice.referenceNumber}}</h4></td>
      </tr>
      <tr>
        <td><h5 style="padding: 5px 15px; margin: 5px 15px;">Equipment</h5></td>
        <td><h5 style="padding: 5px 15px; margin: 5px 15px;">Equipment type</h5></td>
        <td><h5 style="padding: 5px 15px; margin: 5px 15px;">From</h5></td>
        <td><h5 style="padding: 5px 15px; margin: 5px 15px;">To</h5></td>
        <td><h5 style="padding: 5px 15px; margin: 5px 15px;">Duration</h5></td>
        <td><h5 style="padding: 5px 15px; margin: 5px 15px;">Price</h5></td>
      </tr>
      <tr *ngFor="let invoiceLine of invoice.invoiceLines" >
        <td><p style="padding: 5px 15px; margin: 5px 15px;">{{invoiceLine.rentItem.equipment.name}}</p></td>
        <td><p style="padding: 5px 15px; margin: 5px 15px;">{{invoiceLine.rentItem.equipment.equipmentType.type}}</p></td>
        <td><p style="padding: 5px 15px; margin: 5px 15px;">{{ invoiceLine.rentItem.startTime  | date:'MM/dd/yyyy'}}</p></td>
        <td><p style="padding: 5px 15px; margin: 5px 15px;">{{ invoiceLine.rentItem.endTime  | date:'MM/dd/yyyy'}}</p></td>
        <td><p style="padding: 5px 15px; margin: 5px 15px;">{{ invoiceLine.rentItem.days}} days</p></td>
        <td><p style="padding: 5px 15px; margin: 5px 15px;">{{invoiceLine.sum}}</p></td>
      </tr>
      <tr>
        <td colspan="6" style="text-align:right;"><h4 style="padding: 5px 15px; margin: 5px 15px;">Price: {{invoice.price}}</h4></td>
      </tr>
      <tr>
        <td colspan="6" style="text-align:right;"><h4 style="padding: 5px 15px; margin: 5px 15px;">Vat: {{invoice.vaTrate}}%</h4></td>
      </tr>
      <tr>
        <td colspan="6" style="text-align:right;"><h4 style="padding: 5px 15px; margin: 5px 15px;">Sum: {{invoice.priceWithVAT}}</h4></td>
      </tr>
      <tr>
        <td colspan="6" style="text-align:right;"><h5 style="padding: 5px 15px; margin: 5px 15px;">Loyalty  points: {{invoice.loyaltyPoints}}</h5></td>
      </tr>
      <tr>
        <td><p style="padding: 5px 15px; margin: 5px 15px;">Bank: {{invoice.bank}}</p></td>
        <td><p style="padding: 5px 15px; margin: 5px 15px;">IBAN: {{invoice.iban}}</p></td>
      </tr>
    </table>
  </div>
  <div *ngIf="invoice != null">
    <button mat-flat-button color="primary" style="margin: 10px" (click)="downloadAsPDF()">Download invoice</button>
    <button mat-stroked-button color="warn" style="margin: 10px" (click)="resetInvoiceView()">Close invoice</button>
  </div>
</div>

