<mat-toolbar color="primary">
  <h1>
    Equipment Rental
  </h1>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/cart" >Cart</button></mat-toolbar><router-outlet></router-outlet>
