<div style="padding: 5px 15px;" >
  <mat-spinner *ngIf="equipments.length === 0"></mat-spinner>
  <h2>Equipment List</h2>
  <mat-card *ngFor="let equipment of equipments" style="margin-top:10px;">
    <mat-card-content>
        <td><h4 class="element" style="padding: 5px 15px; margin: 5px 15px;">{{equipment.equipmentId}}</h4></td>
        <td><h4 class="element" style="padding: 5px 15px; margin: 5px 15px;">{{equipment.name}}</h4></td>
        <td><p class="element" style="padding: 5px 15px; margin: 5px 15px;">{{ equipment.equipmentType.type }}</p></td>
        <td><button mat-stroked-button color="primary" (click)="rentPending(equipment)"> Rent </button></td>
    </mat-card-content>

    <mat-card-content *ngIf="selectedEquipment==equipment">
      <td>
        <mat-form-field style="padding: 5px 15px; margin: 5px 15px;">
          <mat-label>from</mat-label>
          <input matInput [matDatepicker]="from" placeholder="Choose a date" (dateInput)="changeRentStartTime($event.value)">
          <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
          <mat-datepicker #from></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="padding: 5px 15px; margin: 5px 15px;">
          <mat-label>until</mat-label>
          <input matInput [matDatepicker]="until" placeholder="Choose a date" (dateInput)="changeRentEndTime($event.value)">
          <mat-datepicker-toggle matSuffix [for]="until"></mat-datepicker-toggle>
          <mat-datepicker #until></mat-datepicker>
        </mat-form-field>
      </td>
      <td><p>days: {{days}}</p></td>
      <td><button mat-stroked-button color="success" style="margin: 10px" (click)="addNewPendingRent()"> Add to Cart </button></td>
    </mat-card-content>
  </mat-card>
</div>
